/* Main CSS */

body {
  color: black;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 100%;
}

/* Main content */
.content {
  background-color: white;
  padding: 1em 10% 1em 10%;
}

h1, h2, h3 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.25em;
  color: white;
  line-height: 1.15;
  padding: .1em;
  margin: 1em 0 1em 0;
  background-color: darkgray;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1));
}

h2 {
  font-size: 1.75em;
  color: gray;
  margin: 1.5em 0 1em 0;
}

h3{
  font-size: 1.5em;
  color: gray;
  margin: 1.5em 0 1em 0;
}

p {
  font-size: 1em;
}

a {
  color: inherit;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

/* Menu */
.menu1 {
  position: fixed;
  top: 0;
  right: 0;
}
h4 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin: 1em 0 1em 0;
}
.btn1 {
  font-size: 250%;
  background-color: white;
  padding: 0;
  border: none;
  border-radius: 50%;
  margin: 1.5em 1.5em 0 0;
}
h4.ellipsis {
  color: white;
  background-color: darkgray;
  background-image: radial-gradient(circle, rgba(255,255,255,0), rgba(255,255,255,.1), rgba(255,255,255,1));
  padding: 0 .2em 0 .2em;
  border: none;
  border-radius: 50%;
  margin: 0;
  transition: color .1s, background-color .1s;
}
h4.ellipsis:after {
  content: '\22EF';
}
.menu1:hover h4.ellipsis {
  color: lightblue;
  background-color: darkblue;
}
/* Menu drop-down components */
.ddown1 {
  display: none;
  position: absolute;
  right: 1.9em;
  width: 7em;
  text-align: center;
}
.ddown1 a {
  display: block;
  color: white;
  background-color: darkgray;
  background-image: radial-gradient(rgba(255,255,255,0), rgba(255,255,255,.1), rgba(255,255,255,1));
  text-decoration: none;
  padding: 1em 0.5em 1em .5em;
  border: none;
  border-radius: 50%;
  margin: 0;
  transition: color .1s, background-color .1s;
}
.menu1:hover .ddown1 {
  display: block;
  color: white;
}
.ddown1 a:hover {
  color: lightblue;
  background-color: darkblue;
}
